@model SSL.Ticket.SSL.Ticket.Models.UserProfile

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
            //var message = ViewBag.SuccessMsg;
}
@* @Html.Partial("_Header",new HeaderModel(){ HeaderName = "User Profile Entry", BreadCrums = new Dictionary<string, string>()
{
    {"/UserProfile","Index"},
    {"","Index"},
}}) *@
<link href="~/css/button.css" rel="stylesheet" />
<div class="container-fluid">


    <form id="frm_user">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Change Password</h3>
            </div>
            <div class="card-body">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                <div class="form-group row">

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.UserId)
                        @Html.TextBoxFor(model => model.UserId, new { @class = "form-control form-control-sm", @readonly="readonly" })
                        @Html.ValidationMessageFor(model => model.UserId)
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-sm"})
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    @if (!Model.IsAdmin)
                    {
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.CurrentPassword)
                            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.CurrentPassword)
                        </div>
                    }
                    
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                </div>

            </div>
        </div>

    </form>





    <div class="card">
        <div class="card-header" style="height:53px;">

            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
                <button type="button" value="Update" title="Update Data" class="btn btn-warning block button btnsave sslUpdate">&nbsp;Update</button>

                
            }


        </div>
    </div>

</div>


@section scripts{
    <script src="/js/app/Services/CommonService.js"></script>
    <script src="/js/app/Services/UserProfileService.js"></script>
    <script src="/js/app/Controllers/UserProfileController.js"></script>

    <script>

        $(document).ready(function () {

            UserProfileController.init();


        });

    </script>
    }

